<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>

    <input type="checkbox" name="remP"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> new line remover<br>
    <input type="checkbox" name="extraspaceremover"> extra space remover<br>
    <input type="checkbox" name="charcnt"> character counter<br>
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>